/* https://matthewjamestaylor.com/blog/equal-height-columns-3-column.htm */
#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background: white; /* column 3 background colour */

}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
	background: white; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background: white; /* column 1 background colour */
	padding: 10px;
}

.radButt {
	appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;     
    margin-right: 7px;
    outline: none;
}
.radButt:hover
{
     background-color: #f7f7f7;
}

.radButt:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.radButt:checked
{
     background-color: #f1f1f1;
}

.updateForm {
    background-color: #f1f1f1;
	border-radius: 10px;
}

.updateIn {
    background-color: white;
	border-radius: 10px;
}

.updateButt {
	background: white;
    border-radius: 50px;
}

#doneButt {
    background-color: #f1f1f1;
	border-radius: 10px;
}

#newButt {
    background-color: #f1f1f1;
	border-radius: 10px;
}

#menu_options{
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
}

#item_display{
    float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
	font-family: 'Lato', sans-serif;
}

#total_order{
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.row {
	text-align:center;
}

#default {
	text-align: center;
}
