
<div style="text-align:center">
   <h1>
      Welcome to {{ title }}!
   </h1>
   <img width="300" alt="Delicious BrrGrr" src="https://images.unsplash.com/photo-1504185945330-7a3ca1380535?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9f2d35c4ea30a81e428e66c653748f91&auto=format&fit=crop&w=2442&q=80">
</div>

<div id="container3">
   <div id="container2">
      <div id="container1">
         <div id="menu_options">
            col 1: help me this is kat i don't know if this is working help me help sos
            <div class="row">
               <button class ="fooditem" type = "button">this is food 1 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 2 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 3 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 4 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 5 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 6 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 7 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 8 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 9 yeet yeet</button>
            </div>
            <div class="row">
               <button class = "fooditem" type = "button">this is food 10 yeet yeet</button>
            </div>
         </div>
         <div id= "item_display">
            col 2: help me this is kat i don't know if this is working help me help sos
         </div>
         <div id= "total_order">
            col 3: help me this is kat i don't know if this is working help me help sos
         </div>
      </div>
   </div>
</div>
