<html>
   <head>
         <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans" rel="stylesheet">
   </head>
<body>
<div style="text-align:center">
   <h1>
      Welcome to {{ title }}!
   </h1>
</div>

<div id="container3" ng-app = "">
   <div id="container2">
      <div id="container1">
         <br>
         <div id="menu_options">
            <h2>Menu</h2>
            <form>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 1 >Okay Chicken Tenders
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 2 >Slightly Dry Burger
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 3 >E.Coli-Free Salad
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 4 >Slightly Soggy Fries
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 5 >Mac n... More Mac (dairy free)
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 6 >Food Item 6
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 7 >Grilled Cheese
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 8 >Recycled and Reused Grilled Crusts
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 9 >Really Greasy Pizza
               </div>
               <div class="row">
                  <input type= "radio" class = "radButt"  name = "whichFood" [(ngModel)]="whichFood" [value] = 10 >Room Temp Water
               </div>
            </form>
            <br>
         </div>
         <div id= "item_display">
            <div id = "itemTitle" class = "row">
               <h2 *ngIf ="whichFood==1">
                  Okay Chicken Tenders
               </h2>
               <h2 *ngIf ="whichFood==2">
                  Slightly Dry Burger
               </h2>
               <h2 *ngIf ="whichFood==3">
                  E.Coli-Free Salad
               </h2>
               <h2 *ngIf ="whichFood==4">
                  Slightly Soggy Fries
               </h2>
               <h2 *ngIf ="whichFood==5">
                  Mac n... More Mac (dairy free)
               </h2>
               <h2 *ngIf ="whichFood==6">
                  Food Item 6
               </h2>
               <h2 *ngIf ="whichFood==7">
                  Grilled Cheese
               </h2>
               <h2 *ngIf ="whichFood==8">
                  Recycled and Reused Grilled Crusts
               </h2>
               <h2 *ngIf ="whichFood==9">
                  Really Greasy Pizza
               </h2>
               <h2 *ngIf ="whichFood==10">
                  Room Temp Water
               </h2>
               <h2 *ngIf ="whichFood==11">
               </h2>
            </div>
            <div *ngIf ="whichFood==1">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad tendies" src="http://media.safebee.com/assets/images/2015/9/raw%20chicken%20breast.jpg.600x315_q67_crop-smart.jpg">
               </div>
             </div>
             <div *ngIf ="whichFood==2">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad BrrGrr" src="https://s3-media3.fl.yelpcdn.com/bphoto/mLNWVqB6f0U9AesZKlJTDg/168s.jpg">
               </div>
             </div>
             <div *ngIf ="whichFood==3">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad salad" src="https://i2.wp.com/www.prog-sphere.com/wp-content/uploads/2014/02/Bad-Salad.png?resize=620%2C400">
               </div>
             </div>
             <div *ngIf ="whichFood==4">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad fries" src="https://cdn.instructables.com/F28/Q3S4/FSIJL8DM/F28Q3S4FSIJL8DM.MEDIUM.jpg">
               </div>
             </div>
             <div *ngIf ="whichFood==5">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad mac and cheese" src="https://hips.hearstapps.com/del.h-cdn.co/assets/cm/15/10/54f6bc9222bdd_-_pasta-rigaoni-mdn.jpg">
               </div>
             </div>
             <div *ngIf ="whichFood==6">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad whatever this is" src="http://www.destenaire.com/noaccess/wp-content/uploads/2014/10/8-Oddest-Food-Items-Featured-Image1.png">
               </div>
            </div>
            <div *ngIf ="whichFood==7">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="good cheese" src="https://www.tasteofhome.com/wp-content/uploads/2018/04/The-Best-Ever-Grilled-Cheese-Sandwich_EXPS_THSO18_222725_D03_06_4b-696x696.jpg">
               </div>
            </div>
            <div *ngIf ="whichFood==8">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad crusts" src="https://media.mnn.com/assets/images/2014/10/bread-crusts.jpg.653x0_q80_crop-smart.jpg">
               </div>
            </div>
            <div *ngIf ="whichFood==9">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad pizza" src="https://cdn0.opinion-corp.com/review-media/pictures/d0/c5/231756/doordash_bad-pizza-delivery-201709241105510_d0c5-gallery.jpeg?t=6330064">
               </div>
            </div>
            <div *ngIf ="whichFood==10">
               <div id = "itemPic" class = "row">
                  <img height="150" alt="Bad water" src="http://www.agendamag.com/content/wp-content/uploads/2011/03/glass_of_water.jpg">
               </div>
            </div>
            <div id = "default" *ngIf ="whichFood==11">
               Choose an item on the left panel for more information!
            </div>
            <br>
            <div id = "itemprice" class = "row">
               <div *ngIf ="whichFood==1">
                  $4.00
                </div>
                <div *ngIf ="whichFood==2">
                  $6.00
                </div>
                <div *ngIf ="whichFood==3">
                  $3.50
                </div>
                <div *ngIf ="whichFood==4">
                  $2.50
                </div>
                <div *ngIf ="whichFood==5">
                  $3.00
                </div>
                <div *ngIf ="whichFood==6">
                  $6.66
               </div>
               <div *ngIf ="whichFood==7">
                  $2.50
               </div>
               <div *ngIf ="whichFood==8">
                  $1.50
               </div>
               <div *ngIf ="whichFood==9">
                  $10.00
               </div>
               <div *ngIf ="whichFood==10">
                  $2.00
               </div>
               <div id = "default" *ngIf ="whichFood==11">
                  
               </div>
            </div>
            <br>
            <div id = "description" class = "row">
               <div *ngIf ="whichFood==1">
                  Only vaguely crunchy tenders, breading loosely attached
                </div>
                <div *ngIf ="whichFood==2">
                  Slightly overcooked burger, lotta crunch no matter how you order it
                </div>
                <div *ngIf ="whichFood==3">
                  The actual amount of e coli is questionable. Dressing is extra.
                </div>
                <div *ngIf ="whichFood==4">
                  Melts in your mouth, the way fries should!
                </div>
                <div *ngIf ="whichFood==5">
                  This macaroni dish is free of cheese -- Vegan friendly!
                </div>
                <div *ngIf ="whichFood==6">
                  All we know is that it’s $6.66
               </div>
               <div *ngIf ="whichFood==7">
                  One slice of bread and cheese makes the perfect bread-to-cheese ratio!
               </div>
               <div *ngIf ="whichFood==8">
                  Ya ever throw away the crust of your baked goods? Well, we reuse em!
               </div>
               <div *ngIf ="whichFood==9">
                  Extra paper towels provided.
               </div>
               <div *ngIf ="whichFood==10">
                  Just a lil cup of lukewarm water, prepared by our chef Luke!
               </div>
               <div id = "default" *ngIf ="whichFood==11">
                  
               </div>
            </div>
            <br>
            <div id = "ordButts" class = "row">
                <form class = "updateForm" *ngIf ="whichFood==1">
                  Quantity: <input #quantity1 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted1(quantity1.value)" />
                  <button class = "updateButt" (click)="formSubmitted1(quantity1.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==2">
                  Quantity: <input #quantity2 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted2(quantity2.value)" />
                  <button class = "updateButt" (click)="formSubmitted2(quantity2.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==3">
                  Quantity: <input #quantity3 class = "updateIn" min = '0' value = '0'  default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted3(quantity3.value)"/>
                  <button class = "updateButt" (click)="formSubmitted3(quantity3.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==4">
                  Quantity: <input #quantity4 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted4(quantity4.value)"/>
                  <button class = "updateButt" (click)="formSubmitted4(quantity4.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==5">
                  Quantity: <input #quantity5 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted5(quantity5.value)"/>
                  <button class = "updateButt" (click)="formSubmitted5(quantity5.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==6">
                  Quantity: <input #quantity6 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted6(quantity6.value)"/>
                  <button class = "updateButt" (click)="formSubmitted6(quantity6.value)">
                     Update Quantity
                  </button>
                  <br>
               </form>  
                <form class = "updateForm" *ngIf ="whichFood==7">
                  Quantity: <input #quantity7 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted7(quantity7.value)"/>
                  <button class = "updateButt" (click)="formSubmitted7(quantity7.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==8">
                  Quantity: <input #quantity8 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted8(quantity8.value)"/>
                  <button class = "updateButt" (click)="formSubmitted8(quantity8.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==9">
                  Quantity: <input #quantity9 class = "updateIn" min = '0' value = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted9(quantity9.value)"/>
                  <button class = "updateButt" (click)="formSubmitted9(quantity9.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form class = "updateForm" *ngIf ="whichFood==10">
                  Quantity: <input #quantity10 class = "updateIn" min = '0' value = '0' default = '0' id = "quantity" type="number" (keyup.enter)="formSubmitted10(quantity10.value)"/>
                  <button class = "updateButt" (click)="formSubmitted10(quantity10.value)">
                     Update Quantity
                  </button>
                  <br>
                </form>  
                <form *ngIf ="whichFood==11"></form>
            </div>
         </div>
         <div id= "total_order">
            <h2>Current Order</h2>
               <ol>
                  <li>{{formSubmitMessage1}}</li>
                  <li>{{formSubmitMessage2}}</li>
                  <li>{{formSubmitMessage3}}</li>
                  <li>{{formSubmitMessage4}}</li>
                  <li>{{formSubmitMessage5}}</li>
                  <li>{{formSubmitMessage6}}</li>
                  <li>{{formSubmitMessage7}}</li>
                  <li>{{formSubmitMessage8}}</li>
                  <li>{{formSubmitMessage9}}</li>
                  <li>{{formSubmitMessage10}}</li>
               </ol>
               <div>
                  <h4> Untaxed Total Price: {{sumString}}</h4>
                  <h4> Tax: {{taxString}} </h4>
                  <h2>Total Price is {{orderPrice}}</h2>
                  <h4> Click New Order to start over, or click Done to submit your order.</h4>
                  <button id = "doneButt" (click)="submit()">
                     Done
                  </button>
                  <br>
                  <label>{{submitOrderMessage}}</label> 
                  <br>
                  <br>
                  <button id = "newButt" (click) = "refresh()">
                     New Order
                  </button>
               </div>
               <br>
         </div>
      </div>
   </div>
</div>
</body>
</html>