/* https://matthewjamestaylor.com/blog/equal-height-columns-3-column.htm */
#container3 {
	clear:left;
	float:left;
	width:100%;
	overflow:hidden;
	background: cornflowerblue; /* column 3 background colour */
}
#container2 {
	clear:left;
	float:left;
	width:100%;
	position:relative;
	right:33.333%;
	background: rebeccapurple; /* column 2 background colour */
}
#container1 {
	float:left;
	width:100%;
	position:relative;
	right:33.33%;
	background: palevioletred; /* column 1 background colour */
	padding: 10px;
}

#menu_options{
	float:left;
	width:29.33%;
	position:relative;
	left:68.67%;
	overflow:hidden;
	text-align: center;
}

#item_display{
    float:left;
	width:29.33%;
	position:relative;
	left:72.67%;
	overflow:hidden;
}

#total_order{
	float:left;
	width:29.33%;
	position:relative;
	left:76.67%;
	overflow:hidden;
	text-align: center;
}

.fooditem{
    border: 2px solid palevioletred;
    width: 100%;
    padding: 5px;
    background-color: aquamarine;
}

.row {
    text-align:center;
}

#default {
	text-align: center;
}